__pycache__/
*.pyc

.venv/
venv/

.env

models/*
!models/**/
!models/**/README.md

database/*
!database/**/
!database/**/README.md

knowledge/master_dataset/*.pdf

voice/**/*.bin
voice/**/*.onnx
voice/**/*.pt
voice/**/*.gguf

*.db
*.sqlite

logs/